<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Watchlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-list class="listlist">
    <ion-list-header class="watchlist">
      Your Watchlist
    </ion-list-header>

    <ion-item button lines="inset" *ngFor="let data of Data" (click)="showCoin(data.cCoin, data.cName)">
      <ion-label>
        <h5 class="cCoin">{{data.cCoin}}</h5>
        <h5 class="cName">{{data.cName}}</h5>
      </ion-label>
      <ion-label class="price">
        ${{data.cPrice}}
      </ion-label>

      <div class="item-note" item-end>
       
        <ion-icon name="trash" style="zoom:2.0" (click)="deleteSong(data.id); $event.stopPropagation();"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
